body {
padding: 5%;
margin: 0;
height: fit-content;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
}

#reklam{
display: block;
width: 550px;
height: 200px;
margin: auto;
background: url("/img/reklams.gif");
background-size: 550px 200px;
border-radius: 7px;
}

#alertbox{
width: 60%;
padding: 15px;
background-color: rgb(195, 195, 195);
border-radius: 7px;
margin: auto;
display: block;
text-align: center;
animation: scale 2s step-end linear;
transition: 0.3s ease-in-out;
}

#alertbox:hover{
    width: 60%;
    padding: 15px;
    background-color: rgb(144, 144, 144);
    color: white;
    border-radius: 7px;
    margin: auto;
    display: block;
    font-size: initial;
    box-shadow: 5px 5px rgb(52, 51, 51);
    }

#alertbt{
    background-color: rgb(195, 195, 195);
    border-radius: 3px;
    border: 1px solid black;
    padding: 5px;
    margin: auto; 
}

#reklamlink{
    display: block;
    background-color: rgba(255, 127, 80, 0);
    width: 100%;
    height: 100%;
}

#pp{
z-index: 1;
display: block;
width: 150px;
height: 150px;
backdrop-filter: none;
background-size: 120px;
border-radius: 7px;
margin: auto;
animation: scale 2s step-end linear;
transition: 0.3s ease-in-out;
}

#pp:hover{
transform: scale(1.3);
}

#main{
width: 100%;
padding: 2%;
border-radius: 7px;
}

ul{
list-style-type: none;
}
li{
margin-top: 5px;
}
a:hover{
    color: gray;
}
a{
text-decoration: none;
color: black;
}

#etiket{
display: block;
text-align: center;
}

.pic{
width: 100%;
max-width: 150px;
height: auto;
border: 1px solid black;
border-radius: 3px;
animation: scale 0.3s step-end linear;
transition: 0.3s ease-in-out;
}

.pic:hover{
    transform: scale(1.1);
}

title{
color: red;
}

.blog-ek-img{
    width: 100%;
    margin: 10px;
  }
  

@media screen and (max-width: 40rem) {
    #reklam{
        display: block;
        width: 300px;
        height: 150px;
        margin: auto;
        background: url("/img/reklams.gif");
        background-size: 300px 150px;
        border-radius: 7px;
        
        }
    }
 
  