body{
    background-color: rgb(231, 231, 231);
    padding: 0;
    margin:0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

b{
    text-align: center;
    display: block;
}

#pp{
    display: block;
    margin: 60px auto;
    margin-bottom: 0;
    width: 250px;
    height: 250px;
    border: 2px solid black;
    border-radius: 250px;
    background-image: url("/img/pp.jpg");
    background-size: 250px;
    background-position: center;
    animation: scale 2s step-end linear;
    transition: 0.3s ease-in-out;
}

#pp:hover{
    transform: scale(1.1); 
}

#box{
    display: block;
    margin: auto;
    width: fit-content;
    text-align: center;
}

#social-box{
    display: block;
    margin: 10px auto;
    width: fit-content;

}

.social-element img{
    width: 30px;
    height: 30px;
    margin-right: 7px;
    animation: scale 1s step-end linear;
    transition: 0.1s ease-in-out;
}

.social-element img:hover{
    transform: scale(1.1); 
    opacity: 0.7;
}

#bayrak img{
    width: 50px;
    margin: 5px;
    border-radius: 3px;
}

#more-btn{
    width: fit-content;
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 9px;
    border-radius: 4px;
    margin: 7% auto;
    display: block;

}

#more-btn:hover{
    background-color: rgb(60, 60, 60);
}

