body{
    background-color: rgb(23, 23, 23);
    padding: 0;
    margin: 0;
    font-family:"Bebas Neue", sans-serif;
    background-position: top;
    background-size: 100%;
}

img{
    width: 45px;
    margin: 5px;
    
}

#cont{
    display: block;
    width: 60%;
    height: fit-content;
    margin: auto;

    z-index: 2;

}

li{
    text-decoration: none;
    list-style: none;
    display: block;
    width: min-content;
    float: left;
    margin: 0 0 0 15px;
    text-align: center;
    padding: 5px;
    display: block;
}

#aa{
    float: right;
}

a{
    display: block;
    margin-top: 0px;
    color: rgb(5, 220, 23);
    display: block;
    width: 70px;
    height: 90px;
    font-size: 100%;
}

a:hover{
    color: rgb(0, 84, 7);
}

a img{

    display: block;
    width: 55px;
    height: 55px;
    border-radius: 7px;
}

a img:hover{
    opacity: 0.5;
}

#saat{
    color: rgb(5, 220, 23);
    margin: 4%;
    text-align: center;
    font-size: 56pt;
}

#dolar{
    display: block;
    margin: 0px;
    background-color: brown;
    position: fixed;
    top: 1px;
    border: 1px solid green;


}

hr{
    width: 90%;
}