body{
    background-color: rgb(23, 23, 23);
    padding: 0;
    margin: 0;
    font-family:"Bebas Neue", sans-serif;
    background-image: url(https://i.makeagif.com/media/8-11-2018/jET9FZ.gif);
    background-size: 100% 400%;
}

img{
    width: 40px;
    margin: 5px;
    
}

li{
    text-decoration: none;
    list-style: none;
    display: block;
    border: 1px solid black;
    width: min-content;
    float: left;
    margin: 0 0 0 15px;
    text-align: center;
    padding: 5px;
}

#aa{
    float: right;
}

a{
    display: block;
    margin-top: 0px;
    color: rgb(0, 131, 11);
}

#saat{
    color: rgb(0, 131, 11);
    margin: 4%;
    text-align: center;
    font-size: xxx-large;
}

#dolar{
    display: block;
    margin: 250px 20px;
    background-color: brown;
    position: absolute;
    bottom: 1px;
}