body{
    background-color: rgb(23, 23, 23);
    padding: 0;
    margin: 0;
    font-family:"Bebas Neue", sans-serif;
    background-position: top;
    background-size: 100%;
}

img{
    width: 40px;
    margin: 5px;
    
}

li{
    text-decoration: none;
    list-style: none;
    display: block;

    width: min-content;
    float: left;
    margin: 0 0 0 10px;
    text-align: center;
    padding: 5px;
}

#aa{
    float: right;
}

a{
    display: block;
    margin-top: 0px;
    color: rgb(0, 131, 11);
}

a:hover{
    color: rgb(0, 84, 7);
}

a img{

    display: block;
    width: 55px;
    height: 55px;
}

a img:hover{
    opacity: 0.5;
}

#saat{
    color: rgb(0, 131, 11);
    margin: 4%;
    text-align: center;
    font-size: 56pt;
}

#dolar{
    display: block;
    background-color: brown;
    position: absolute;
    bottom: 1px;
}

hr{
    width: 90%;
}
