body{
    font-family: 'Handjet', cursive;
    font-family: 'Karantina', cursive;
    font-family: 'Tektur', cursive; 
    font-size: 17pt;
}

body button{
    font-family: 'Handjet', cursive;
    font-family: 'Karantina', cursive;
    font-family: 'Tektur', cursive; 
}

h1{
    text-align: center;
}

#client{
    width: 150px;
    height: 300px;
    background-image: url("./img/img3.png");
    margin: auto;
}

#tahminbox{
    margin: auto;
    display: block;
    width: fit-content;
    padding: 5px;
}

#bahisbaslat{
    margin: 20px auto;
    display: block;
    width: fit-content;
    padding: 15px;
}

#tahminin{
    text-align: center;
}

#cüzdan{
    text-align: center;
}