body {
    margin: 0%;
    padding: 0%;
    background-color: #008891;
    margin-top: 5px;
}
.header {
    width: 1250px;
    height: 150px;
    background-color: #00587a;
    margin: auto;
    padding: 10px;
    padding: 0%;
}
.header-logo {
    width: 500px;
    height: 150px;
    background-image: url(../img/banner.png);
}
.menu-kutu {
    width: 740px;
    height: 150px;
    float: right;
    padding: 35px;
    
}
.content {
    width: 1230px;
    height: auto;
    background-color:  #0f3057;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
}
.footer {
    width: 1230px;
    height: 70px;
    background-color: #00587a;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
}
.footer a {
    color: white;
    font-size: 20px;
    float: right;
    text-align: center;
    padding-right: 600px;
}
ul li {
list-style: none;
}
ul li a {
    text-decoration: none;
    display: block;
    float: left;
    margin-left: 30px;
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100px;
}
ul li a:hover {
    color:  #0f3057;
    font-style: italic;
}
p {
    color: white;
    font-size: 20px;
}
h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    height: 50px;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
b {
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#yazılım-foto {
    width: 1230px;
}
