body{
    background-color: rgb(215, 215, 215);
    color: rgb(65, 65, 65);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    text-align: center;
}

h1{
    text-align: center;
}

input{
    display: block;
    margin: auto;
    padding: 7px;
    border-radius: 7px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button{
    display: block;
    margin: 5px auto;
    padding: 7px;
    width: fit-content;
    min-width: 10%;
    border: 3px solid rgb(75, 75, 75);
    border-radius: 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

b{
    display: block;
    margin: auto;
    background-color: rgb(75, 75, 75);
    width: fit-content;
    color: white;
    padding: 7px;
    border-radius: 5px;
}